body {
  background-color: #e8d5b4;
}

#welcome {
  text-align: center;
  background-color: #77a2cf;
  margin: 20px;
}

#result {
  display:none;
  margin: 20px;
  background-color: #cfc577;
  font-family: sans-serif;
}

p {
  text-align: justify;
}

h1 {
  text-align: center;
}

#beginBtn {
  background-color: #77a2cf;
  font-weight: bold;
}

#submitBtn {
  display:none;
  background-color: #77a2cf;
  margin: 20px;
  font-weight: bold;
}

#questions {
 display: none;
}

.row {
  margin: 20px;
}

.panel {
  border-color: #77a2cf;
  border-width: 5px;
}

.panel-title {
  background-color: #77a2cf;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.panel-body {
  background-color: #b4cde8;
}

#inDemand {
  font-weight: bold;
  font-style: italic;
}

#javaDscrptn {
  display:none;
  background-color: ##cfc577;
}

#cSharpDscrptn {
  display:none;
}

#rubyDscrptn {
  display:none;
}

#phpDscrptn {
  display:none;
}

#java {
  font-weight: bold;
  font-style: italic;
}

#cSharp {
  font-weight: bold;
  font-style: italic;
}

#ruby {
  font-weight: bold;
  font-style: italic;
}

#php {
  font-weight: bold;
  font-style: italic;
}
