.jumbotron {
  text-align: center;
  background-color: #6a9fd8;
  margin: 20px;
}

#beginBtn {
  background-color: #6a9fd8;
  font-weight: bold;
}

#submitBtn {
  display:none;
  background-color: #6a9fd8;
  margin: 20px;
  font-weight: bold;
}

#form {
 display: none;
}

.row {
  margin: 20px;
}

.panel-title {
  background-color: #6a9fd8;
  text-align: center;
  padding: 5px;
}

.panel-body {
  background-color: #b4cde8;
}

#inDemand {
  font-weight: bold;
  font-style: italic;
}

#result {
  display:none;
  background-color: #d8b06a;
}


#javaDscrptn {

}

#cSharpDscrptn {

}

#rubyDscrptn {

}

#phpDscrptn {

}
